:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    margin-left: 10px;
    color: var(--vermelho);
    font-family: 'Arial Black', times;
    font-size: 40px;
}

a{
    text-decoration: none;
    color: #aaa;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}


.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/breaking-bad-capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.filme-principal .container{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-right: 5%;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.carrosel-filmes{
    margin-top: 2px;
}